body {
  font:1.25em sans-serif;
  margin:0 10px 10px 10px;
}

div {
  margin: 10px 3px;;
}

th, strong {
  font-weight:bold
}

h1 {
  font-size:2em;
  font-weight:bold;
}

h2 {
  font-size:1.5em;
  font-weight:bold;
}

h3 {
  font-size:1.25em;
  font-weight:bold;
}

h1, h2, h3, h4 {
  margin:10px 0;
}

p {
  margin:0;
}

.red {
color: red;
font-weight: bold;
}

img{
  max-width: 100%;
  height: auto;
}

.trim-info {
   max-width: 100%;
   display: inline-block;
   overflow: hidden;
   text-overflow: ellipsis;
   /*white-space: nowrap;*/
   max-height: 150px;
}

.trim-info:target {
    overflow: visible;
    /*white-space: normal;*/
    height: auto;
    max-height: none;
}
